<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>主页</title>
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    </head>
    <body>

        <main>
            <div>
                <div class="row" style="margin: 10px 10px 10px 35%;">
                    <label class="control-label" for="name"
                           style="margin-top: 5px">查询学生姓名：</label>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" id="name" placeholder="请输入学生姓名">
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" onclick="query()"
                            style="padding: 0 20px 0 20px;margin-left: 20px;border-radius: 20px">查询</button>
                </div>

                <div id="studentInfo" th:fragment="studentInfo">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>姓名</th>
                            <th>密码</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student:${list}">
                            <td th:text="${student.id}"></td>
                            <td th:text="${student.name}"></td>
                            <td th:text="${student.password}"></td>
                            <td th:text="${student.sex==1 ? '女':'男'}"></td>
                            <td th:text="${student.age}"></td>
                            <td>
                                <a class="btn btn-sm btn-primary" style="color: white">编辑</a>
                                <a class="btn btn-sm btn-danger" style="color: white">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center" th:if="${list == null}">暂无数据</div>
                </div>

            </div>
        </main>
    </body>
</html>
<script>

    query = function (){
        let url = 'http://localhost:8080/queryByName?name=' + $("input").val()
        $("#studentInfo").load(url)
    }

</script>

<style>
    *{
        font-family: "Microsoft YaHei UI Light",serif;
    }
</style>
